.App {
	min-height: 100vh;
}

.button--transparent {
	background: none;
	border: none;
	outline: none;
}

.button-fullscreen {
	position: absolute;
	top: 0;
	right: 0px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	z-index: 1;
}
.button-fullscreen:hover {
	transform: scale(1.2, 1.2);
}
